body {
    background-image: url('files/background1.png');
    background-color: rgb(49, 63, 61);
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    color: rgb(255, 255, 255);
    padding-bottom: 1%;
    text-align: center;
}

h2 {
    color: rgb(255, 255, 255);
    text-align: center;
}

h3 {
    color: rgb(255, 255, 255);
    text-align: center;
}

p {
    color: rgb(255, 255, 255);
    text-align: center;
}