body {
    background-image: url('files/background1.png');
    background-color: rgb(49, 63, 61);
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    color: rgb(255, 255, 255);
    padding-bottom: 1%;
    text-align: center;
}

h2 {
    color: rgb(255, 255, 255);
    text-align: center;
}

h3 {
    color: rgb(255, 255, 255);
    text-align: center;
}

p {
    color: rgb(255, 255, 255);
    text-align: center;
}

#profile-picture {
    width: 200px; /* Set the width to 100 pixels */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 10%; /* Make the image round */
}